
:root {
    --color1: #D3D3D3;
    --color2: #202020;
  }

* {
    display: flexbox;
    box-sizing: border-box;  
    margin: 0;
    padding: 0;
}

html, body {  
    width: 100%;
    line-height: 1;
    background-color: 	var(--color1);
}

#Page {
    width: 100%;
}

#Up-section {
    width: 100%;
    height: 100px;
    background-color: var(--color2);
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
}

@media screen and (max-width: 600px) {
    #Up-section {
        height: 80px;
        width: 100%;
    }
}

#Title-section {
    width: 30%;
    margin-left: 6%;
}

@media screen and (max-width: 600px) {
    #Title-section {
        width: 100%;
    }
}

#Title-img {
    width: 80%;
    height: 100px;
    margin-left: 20%;
}

@media screen and (max-width: 600px) {
    #Title-img {
        width: 100%;
        height: 80px;
        margin-left: 5%;
    }
}

#Buttons-section {
    width: 70%;
    display: flex;
    margin-left: 19%;
}

.buttons {
    width: 12%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    position: relative;
    display: inline-block;
    margin: 20px 10px;
    color: #D3D3D3;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid purple;
}

@media screen and (max-width: 600px) {
    .buttons {
        display: none;
        width: 2%;
    }
}

.buttons:hover {
    background: pink;
    color: #050801;
    box-shadow: 0 0 5px purple,
        0 0 25px purple,
        0 0 50px purple,
        0 0 200px purple;
    -webkit-box-reflect: below 1px linear-gradient(transparent, purple);
    border: none;
}


#Footer {
    width: 100%;
    height: 400px;
    background-color: black;
    padding-top: 100px;
}

@media screen and (max-width: 600px) {
    #Footer {
        width: 100%;
        height: 550px;
        background-color: black;
        padding: 30px 20px;
    }
}

#Footer-cont {
    display: flex;
    width: 80%;
    margin-left: 10%;
}

@media screen and (max-width: 600px) {
    #Footer-cont {
        display: block;
        width: 100%;
        margin-left: 0;
    }
}

.footer-section1 {
    width: 33%;
    height: 100%;
    padding: 1px 0 0 100px;
}

@media screen and (max-width: 600px) {
    .footer-section1 {
        width: 100%;
        padding: 20px 20px;
    }
}

.footer-section2 {
    width: 33%;
    height: 100%;
    padding: 30px 0 0 100px;
}

@media screen and (max-width: 600px) {
    .footer-section2 {
        width: 100%;
        padding: 20px 20px 20px 90px;
    }
}

.footer-section3 {
    width: 33%;
    height: 100%;
    padding: 30px 0 0 100px;
}

@media screen and (max-width: 600px) {
    .footer-section3 {
        width: 100%;
        padding: 20px 20px 20px 90px;
    }
}

.footer-logo {
    width: 100%;
    object-fit: contain;  
}

@media screen and (max-width: 600px) {
    .footer-logo {
        width: 100%;
        object-fit: contain;  
    }
}

.footer-des {
    color: white;
    text-align: center;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    .footer-des {
        font-size: 12px;
    }
}

.footer-a, .footer-social-a, .des-a {
    color: gray;
    text-decoration: none;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .footer-a, .footer-social-a, .des-a {
        font-size: 14px;
    }
}

.footer-a:hover, .footer-social-a:hover, .des-a:hover {
    opacity: 0.5;
}

.footer-email-title, .footer-social {
    color: white;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .footer-email-title, .footer-social {
        font-size: 14px;
    }
}

.footer-email {
    color: gray;
    text-decoration: none;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .footer-email {
        font-size: 14px;
    }
}

#Cop {
    width: 100%;
    height: 70px;
    background-color: black;
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    #Cop {
        width: 100%;
        height: 50px;
        background-color: black;
        padding-top: 20px;
        border: none;
    }
}

.cop-text {
    color: var(--color1);
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .cop-text {
        font-size: 14px;
    }
}

.hideme {
    opacity: 0;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
}

html {
    scroll-behavior: smooth;
}


.container {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .container {
        position: absolute;
        top: 27%;
        right: 7%;  
        display: inline-block;
    }
}
  
.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: var(--color1);
    margin: 6px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

#Phone-buttons {
    display: none;
}

#Pb-container {
    display: none;
}

@media screen and (max-width: 600px) {
    #Phone-buttons {
        display: flex;
        width: 100%;
        height: 70px;
        background-color: var(--color2);
        position: absolute;
        top: 99%;
        left: 0;
    }
}

.p-buttons {
    width: 15%;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    position: relative;
    display: inline-block;
    margin: 10px 10px;
    color: #D3D3D3;
    text-decoration: none;
    transition: 0.5s;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid purple;
}

.p-buttons:hover {
    background: pink;
    color: #050801;
    box-shadow: 0 0 5px purple,
        0 0 25px purple,
        0 0 50px purple,
        0 0 200px purple;
    -webkit-box-reflect: below 1px linear-gradient(transparent, purple);
    border: none;
}







#Services-title1 {
    width: 500px;
    height: 480px;
    margin-top: 170px;
    margin-left: 130px;
}

@media screen and (max-width: 600px) {
    #Services-title1 {
        width: 90%;
        margin-top: 100px;
        margin-left: 5%;
        height: 550px;
    }
}

#St1-title {
    color: var(--color2);
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #St1-title {
        font-size: 25px;
    }
}

#S-image1 {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 600px) {
    #S-image1 {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

#S-image {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 15%;
    right: 15%;
}

@media screen and (max-width: 600px) {
    #S-image {
        width: 90%;
        height: 350px;
        position: absolute;
        top: 40%;
        left: 5%;
    }
}

#S-image-sma {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 15%;
    right: 15%;
}

@media screen and (max-width: 600px) {
    #S-image-sma {
        width: 70%;
        height: 350px;
        position: absolute;
        top: 46%;
        left: 15%;
    }
}

#S-image-em {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 15%;
    right: 15%;
}

@media screen and (max-width: 600px) {
    #S-image-em {
        width: 74%;
        height: 350px;
        position: absolute;
        top: 40%;
        left: 13%;
    }
}

#S-text1 {
    color: var(--color2);
    font-size: 25px;
    margin-top: 30px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #S-text1 {
        font-size: 16px;
        margin-top: 20px;
    }
}



#Down-section {
    width: 100%;
    height: 100%;
    background-color: #202020;
    padding-top: 40px;
    padding-bottom: 30px;
}

@media screen and (max-width: 600px) {
    #Down-section {
        height: 100%;
        margin-top: 0;
        padding-bottom: 30px;
        padding-top: 30px;
    }
}

#Down-text {
    color: var(--color1);
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    margin: 0 50px 50px 50px;
}

@media screen and (max-width: 600px) {
    #Down-text {
        font-size: 14px;
        margin: 0 20px 30px 20px;
    }
}

#Down-text2 {
    width: 80%;
    height: 90%;
    margin: 30px 10% 60px 10%;
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    #Down-text2 {
        width: 100%;
        height: 90%;
        margin: 20px 0;
        padding-top: 20px;
    }
}

#Down-text2-smm {
    width: 80%;
    height: 90%;
    margin: 30px 10% 60px 10%;
    display: flex;
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    #Down-text2-smm {
        width: 100%;
        height: 90%;
        margin: 20px 0;
        display: block;
        padding-top: 20px;
    }
}


.hr {
    width: 80%;
    height: 1px;
    color: white;
    margin: auto;
}

.ds2-container {
    width: 25%;
    background-color: var(--color1);
    height: 270px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .ds2-container {
        width: 90%;
        background-color: var(--color1);
        height: 200px;
        margin-left: 5%;
        margin-bottom: 30px;
    }
}

.s-img {
    object-fit: contain;
    width: 30%;
    margin-left: 35%;
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .s-img {
        width: 20%;
        margin-left: 40%;
        margin-top: 10px;
    }
}

.services-title1 {
    color: purple;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .services-title1 {
        font-size: 15px;
    }
}

.services-text {
    margin: 20px 20px 0 20px;
    color: var(--color2);
    font-size: 14px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .services-text {
        margin-top: 20px;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }
}

.services-title2 {
    color: orange;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}






#Section1 {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    background-color: var(--color1);
}

@media screen and (max-width: 600px) {
    #Section1 {
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
        background-color: var(--color1);
    }
}

#Section1-title1 {
    color: pink;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

@media screen and (max-width: 600px) {
    #Section1-title1 {
        color: pink;
        font-size: 20px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }
}

.section1-text1 {
    margin: 20px 200px 20px 200px;
    color: var(--color2);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .section1-text1 {
        margin: 20px 20px 20px 20px;
        font-size: 16px;
    }
}

#Section1-title2 {
    color: purple;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
    #Section1-title2 {
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.section1-text2 {
    width: 80%;
    margin: 30px 10% 60px 10%;
    display: flex;
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    .section1-text2 {
        width: 100%;
        margin: 0;
        display: block;
        padding-top: 30px;
    }
}

.ds2-container2 {
    width: 25%;
    background-color: var(--color2);
    height: 250px;
    margin: 0 auto;
}

@media screen and (max-width: 600px) {
    .ds2-container2 {
        width: 90%;
        height: 180px;
        margin: 0 5% 20px 5%;
    }
}

.services-text2 {
    margin: 20px 20px 0 20px;
    color: var(--color1);
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .services-text2 {
        margin: 20px 20px 0 20px;
        font-size: 20px;
    }
}






#Section2 {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
    background-color: var(--color2);
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    #Section2 {
        width: 100%;
        height: 100%;
        padding-bottom: 30px;
        padding-top: 40px;
    }
}

.section2-title1 {
    color: pink;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 0px;
}

@media screen and (max-width: 600px) {
    .section2-title1 {
        font-size: 20px;
        margin-top: 0;
    }
}

.section2-title2 {
    color: purple;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .section2-title2 {
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.section2-text1 {
    margin: 20px 200px 20px 200px;
    color: var(--color1);
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .section2-text1 {
        margin: 20px 20px 20px 20px;
        font-size: 16px;
    }
}





#Section3 {
    width: 100%;
    height: 250px;
    background-color: var(--color1);
}

@media screen and (max-width: 600px) {
    #Section3 {
        width: 100%;
        height: 200px;
        background-color: var(--color1);
    }
}

.section3-title1 {
    color: var(--color2);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 600px) {
    .section3-title1 {
        text-align: center;
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.gs-a {
    text-decoration: none;
    text-align: center;
}

#Gs-button {
    background-color: var(--color2);
    width: 200px;
    height: 80px;
    margin: 0 auto;
    padding-top: 30px;
    color: var(--color1);
    font-size: 20px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 600px) {
    #Gs-button {
        width: 150px;
        height: 60px;
        margin: 0 auto;
        padding-top: 22px;
        font-size: 16px;
    }
}

#Gs-button:hover {
    opacity: 0.5;
}

